// Normalize.css resets base styles to a common default across browsers
// Read more: https://necolas.github.io/normalize.css/
// You can find this file in vendor/assets/stylesheets
@import 'normalize';

// Third-party stylesheets
@import "font-awesome-sprockets";
@import "font-awesome";

// Base styles
@import 'variables';
@import 'base';
@import 'layout';
@import 'forms';
@import 'typography';

// Module styles
@import 'projects';

.form {
  border: 1px black solid;
  border-radius: 3px;
  margin-left: 42%;
  padding: 25px;
  display: inline-block;
}

.form-project {
  border: 1px black solid;
  border-radius: 3px;
  margin-left: 39%;
  padding: 25px;
  display: inline-block;
}

h3 {
  text-align: center;
  margin: 40px;
}

.flash, .errors {
  text-align: center;
  background-color: crimson;
  margin-bottom: 5px;
  color: white;
}

.project-show {
  text-align: center;
}

.project-details {
  border: 1px black solid;
  border-radius: 3px;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.reward-details {
  border: 1px black solid;
  border-radius: 3px;
  width: 50%;
  margin: auto;
  padding: 10px;
}
